<?xml version="1.0"?>
<config>
    <modules>
        <EworldAccelerator_Accelerator>
            <version>0.1.0</version>
        </EworldAccelerator_Accelerator>
    </modules>
    <global>
        <helpers>
            <accelerator>
                <class>EworldAccelerator_Accelerator_Helper</class>
            </accelerator>
        </helpers>
        <blocks>
            <accelerator>
                <class>EworldAccelerator_Accelerator_Block</class>
            </accelerator>
        </blocks>
        <models>
            <accelerator>
                <class>EworldAccelerator_Accelerator_Model</class>
                <resourceModel>accelerator_mysql4</resourceModel>
            </accelerator>
        </models>
        <events>
            <cms_page_prepare_save>
                <observers>
                    <cms_page_prepare_save_handler>
                        <type>singleton</type>
                        <class>accelerator/observer</class>
                        <method>cmsSave</method>
                        <args></args>
                    </cms_page_prepare_save_handler>
                </observers>
            </cms_page_prepare_save>
            <adminhtml_cmspage_on_delete>
                <observers>
                    <adminhtml_cmspage_on_delete_handler>
                        <type>singleton</type>
                        <class>accelerator/observer</class>
                        <method>cmsSave</method>
                        <args></args>
                    </adminhtml_cmspage_on_delete_handler>
                </observers>
            </adminhtml_cmspage_on_delete>
            <catalog_product_prepare_save>
                <observers>
                    <catalog_product_to_website_change_handler>
                        <type>singleton</type>
                        <class>accelerator/observer</class>
                        <method>productSave</method>
                        <args></args>
                    </catalog_product_to_website_change_handler>
                </observers>
            </catalog_product_prepare_save>
            <catalog_category_prepare_save>
                <observers>
                    <catalog_category_prepare_save_handler>
                        <type>singleton</type>
                        <class>accelerator/observer</class>
                        <method>categorySave</method>
                        <args></args>
                    </catalog_category_prepare_save_handler>
                </observers>
            </catalog_category_prepare_save>
            <sales_order_invoice_pay>
                <observers>
                    <catalog_category_prepare_save_handler>
                        <type>singleton</type>
                        <class>accelerator/observer</class>
                        <method>orderPaid</method>
                        <args></args>
                    </catalog_category_prepare_save_handler>
                </observers>
            </sales_order_invoice_pay>
            <sales_order_item_cancel>
                <observers>
                    <catalog_category_prepare_save_handler>
                        <type>singleton</type>
                        <class>accelerator/observer</class>
                        <method>orderCanceled</method>
                        <args></args>
                    </catalog_category_prepare_save_handler>
                </observers>
            </sales_order_item_cancel>
        </events>
    </global>
    <admin>
        <routers>
            <accelerator>
                <use>admin</use>
                <args>
                    <module>EworldAccelerator_Accelerator</module>
                    <frontName>admin_accelerator</frontName>
                </args>
            </accelerator>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <accelerator module="accelerator">
                <title>Eworld Accelerator</title>
                <sort_order>100</sort_order>
                <children>
                    <acceleratorbackend module="accelerator">
                        <title>Manage Cache</title>
                        <sort_order>0</sort_order>
                        <action>admin_accelerator/adminhtml_acceleratorbackend</action>
                    </acceleratorbackend>
                </children>
            </accelerator>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <accelerator translate="title" module="accelerator">
                            <title>Accelerator</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <acceleratorbackend translate="title">
                                    <title>eworldAccelerator Configuration</title>
                                </acceleratorbackend>
                            </children>
                        </accelerator>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <accelerator>
                    <file>accelerator.xml</file>
                </accelerator>
            </updates>
        </layout>
    </adminhtml>
</config> 